body {
  background: #fafafa;
  color: #333333;
}
/*login page css*/
.logintitle {
  text-align: center;
  font-weight: bold;
}

.form-control-label-lg{
  text-align: center;
  font-weight: bold;
 
}
.content-section-login{
  border: 1px solid black;
  margin: 5rem;
  margin-left: 20rem;
  margin-right:20rem;
  padding: 50px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.content-login{
  display: inline-block;
  padding: 50px;
  vertical-align: middle;
}

#email.form-control.form-control-lg{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px, 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}

#password.form-control.form-control-lg{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
.welcome{
  text-align: center;
}
.form-check-label-login{
  padding-top: 20px;
}

input#submit.btn.btn-outline-info-login{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 8px 6px;
  cursor: pointer;
}

.loginimage{
  margin-top: 1rem;
}
/*login css ends here*/


/*register page css*/
.content-section-register{
  border: 1px solid black;
  margin: 1rem;
  margin-left: 25rem;
  margin-right:25rem;
  padding: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.content-register{
  display: inline-block;
  vertical-align: middle;
}

.form-control-label-register{
  font-weight: bold;
}

#email.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#c_name.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_n.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_ln.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_pnum.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}

#confirm_password.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
input#submit.btn.btn-outline-info-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 8px 6px;
  cursor: pointer;
}