body {
  background: #fafafa;
  color: #333333;
}
/*login page css*/
.logintitle {
  text-align: center;
  font-weight: bold;
}

.form-control-label-lg{
  text-align: center;
  font-weight: bold;
 
}
.content-section-login{
  background-color: white;
  border: 1px solid black;
  margin: 5rem;
  margin-left: 20rem;
  margin-right:20rem;
  padding: 50px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.content-login{
  display: inline-block;
  padding: 50px;
  vertical-align: middle;
}

#email.form-control.form-control-lg{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px, 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}

#password.form-control.form-control-lg{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
.welcome{
  text-align: center;
}
.form-check-label-login{
  padding-top: 20px;
}

input#submit.btn.btn-outline-info-login{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 8px 6px;
  cursor: pointer;
}

.loginimage{
  margin-top: 1rem;
}
/*login css ends here*/


/*register page css*/
.content-section-register{
  background-color: white;
  border: 1px solid black;
  margin: 1rem;
  margin-left: 25rem;
  margin-right:25rem;
  padding: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.content-register{
  display: inline-block;
  vertical-align: middle;
}

.form-control-label-register{
  font-weight: bold;
}

#email.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#c_name.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_n.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_ln.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
#rep_pnum.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}

#confirm_password.form-control.form-control-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height:10%;
}
input#submit.btn.btn-outline-info-register{
  background-color: lightcyan;
  border: 1px solid blue;
  color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 8px 6px;
  cursor: pointer;
}
/* Villes zone */
.headbar{
  border: 1px solid black;

}
.col-10{
  border: 1px solid black;
  display: inline;
  background-color: white;
  display: flex;
  margin-left: 7%;

}
.col-10, h1{
  display: inline;
  background-color: white;
  display: flex;
  text-align: center;
  margin-top: 5%;
  

}
  .col-10 image {
    object-fit: contain;
    align-self: flex-start;
  }
  col-5 text {
    flex: 1 1 auto;
  }
  .pic {
    width: 100%;
    height: auto;
    padding: 20px;
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}

.box-4 {
background-image: url("https://cdn.pixabay.com/photo/2018/04/05/23/59/nature-3294632_1280.jpg");
background-size:cover;
}
header {
background-color: white;
}
footer {
background-color: white;
text-align: center;
border:1px black solid;
position: absolute;
bottom: 0;
width: 100%;
height: 5.0rem;
}
.page-container {
position: relative;
min-height: 100vh;
}

.content-wrap {
padding-bottom: 2.5rem;    /* Footer height */
}
body {
  background: #fafafa;
  color: #333333;
  background-image: url("https://cdn.pixabay.com/photo/2018/04/05/23/59/nature-3294632_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}