{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="col-10">
      <article>
          
          <h3>About Us</h3>
          <hr>
          <p>Cool-Finland Oy was founded in 2005. It is a limited company that is located in Forssa, it's primary industry is waste disposal.
          The CEO of the company is Pasi Tapani Kaskinen.</p> 
        
          <p>Cool-Finland Oy's revenue was 2,6 million and financial period was 401 thousand in 2021.
          The revenue increased 18%. Operating profit margin was 19,2%. </p> 
        
          <p>12/2021 päättyneellä tilikaudella yhtiöllä oli 13 työntekijää. Työntekijämäärä kasvoi 8,3% edelliseltä tilikaudelta.
          The company had 13 employees at the end of financial period in 12/2021. The amount of employees increased by 8,3% at the end of the financial period.</p> 

          <p>Täällä voit kirjautua sisään yrityksesi tunnuksilla, varata ajan kylmälaitteiden toimitukselle, sekä tarkastella varauksiasi.
          Here you can login with your company credentials, reserve a slot for your delivery and view your reservations. </p>

          <b>Kiitos kun kierrätät! Thank you for recycling! </b>

          
      </article>

      <img class="pic" src="https://cdn.pixabay.com/photo/2014/01/29/13/52/recycling-254312_1280.png" alt="recycle pic"height="250px" width="250px">
    </div>
    </div>
{% endblock content %}
