{% extends "layout.html" %}
{% block content %}

    <div class="content-section-login">
        <div class ="content-login"> 
            <h3 class="welcome">Welcome to your company login</h3>
            <hr>
            <h6> Here you can login to book a reservation for your delivery, and view your reservations! <br>
                 Use your company credentials to login, or create an account. </h6>    
                 <h6>
                    Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
                 </h6>
        </div>
        <form class = "test" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend class = "logintitle">Log In</legend>
                <div>
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.remember(class="form-check-input-login") }}
                    {{ form.remember.label(class="form-check-label-login") }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-info-login") }}
            </div>

            <small>
                <a href="#">Forgot Password?</a>
            </small>
        </form>
        <div>
        </div>
</div>
{% endblock content %}
