{% extends "layout.html" %}
{% block content %}
    <div class="content-section-register">
        <div class ="content-register"> 
            <h6>Here you can register your company. Please fill in your company's information.</h6> 
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <legend>Registration</legend>
                <hr>
                <div>
                    {{ form.email.label(class="form-control-label-register") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-register") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.c_name.label(class="form-control-label-register") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.c_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.c_name(class="form-control form-control-register") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.rep_n.label(class="form-control-label-register") }}

                    {% if form.rep_n.errors %}
                        {{ form.rep_n(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.rep_n.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rep_n(class="form-control form-control-register") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.rep_ln.label(class="form-control-label-register") }}

                    {% if form.rep_ln.errors %}
                        {{ form.rep_ln(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rep_ln.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rep_ln(class="form-control form-control-register") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.rep_pnum.label(class="form-control-label-register") }}

                    {% if form.rep_pnum.errors %}
                        {{ form.rep_pnum(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rep_pnum.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rep_pnum(class="form-control form-control-register") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label(class="form-control-label-register") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.confirm_password.label(class="form-control-label-register") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-register") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info-register") }}
            </div>
        </form>
        <div>
            <h6>
                Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
            </h6>
        </div>
    </div>
{% endblock content %}
